.footer__top
	a(href="/").footer__logo
		img(src="./assets/images/logo-white.svg", alt="")
	.footer__adress
		.footer__name PAUL  Gorodetskogo
		.footer__row.wow.fadeInUp(data-wow-duration="0.5s")
			.footer__adress-icon
				+svg('map')
			.footer__adress-name Kiev, Gorodetskogo, 6
		.footer__row.wow.fadeInUp(data-wow-duration="1s")
			.footer__adress-icon
				+svg('tel')
			.footer__adress-name +380 44 490 2308
	.footer__adress
		.footer__name PAUL  Yaroslavov Val
		.footer__row.wow.fadeInUp(data-wow-duration="0.5s")
			.footer__adress-icon
				+svg('map')
			.footer__adress-name Kiev, Yaroslavov Val, 26
		.footer__row.wow.fadeInUp(data-wow-duration="1s")
			.footer__adress-icon
				+svg('tel')
			.footer__adress-name +380 44 281 2493
	.footer__soc-icons
		.footer__name Folow us
		.footer__icons
			a(href="").footer__icon
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="12" cy="12.0001" r="10.4" fill="#EFD3AC"/>
					<circle cx="12" cy="12" r="11.6" stroke="#EFD3AC" stroke-width="0.8"/>
					<path d="M13.9046 7.9925H15V6.0845C14.811 6.0585 14.1611 6 13.4041 6C11.8248 6 10.7429 6.9935 10.7429 8.8195V10.5H9V12.633H10.7429V18H12.8797V12.6335H14.552L14.8175 10.5005H12.8792V9.031C12.8797 8.4145 13.0457 7.9925 13.9046 7.9925Z" fill="#131108"/>
				</svg>
			a(href="").footer__icon
				<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="12.8" cy="12.0001" r="10.4" fill="#EFD3AC"/>
					<circle cx="12.8" cy="12" r="11.6" stroke="#EFD3AC" stroke-width="0.8"/>
					<path d="M12.8054 9.12573C11.2164 9.12573 9.9299 10.4136 9.9299 12.0013C9.9299 13.5903 11.2178 14.8768 12.8054 14.8768C14.3945 14.8768 15.681 13.5889 15.681 12.0013C15.681 10.4122 14.3931 9.12573 12.8054 9.12573ZM12.8054 13.8677C11.7739 13.8677 10.939 13.0323 10.939 12.0013C10.939 10.9702 11.7744 10.1348 12.8054 10.1348C13.8365 10.1348 14.6719 10.9702 14.6719 12.0013C14.6723 13.0323 13.8369 13.8677 12.8054 13.8677Z" fill="black"/>
					<path d="M15.1141 6.4351C14.0831 6.38701 11.5293 6.38934 10.4973 6.4351C9.59047 6.4776 8.79058 6.6966 8.14571 7.34147C7.06797 8.41921 7.20572 9.87145 7.20572 12.0012C7.20572 14.181 7.08431 15.5996 8.14571 16.661C9.22765 17.7425 10.7009 17.601 12.8055 17.601C14.9647 17.601 15.71 17.6024 16.4734 17.3068C17.5115 16.9038 18.295 15.976 18.3716 14.3094C18.4202 13.2779 18.4174 10.7246 18.3716 9.6926C18.2792 7.72531 17.2234 6.53223 15.1141 6.4351ZM16.7461 15.948C16.0396 16.6545 15.0595 16.5914 12.7919 16.5914C10.4571 16.5914 9.5209 16.626 8.83774 15.941C8.05092 15.1579 8.19334 13.9004 8.19334 11.9938C8.19334 9.41383 7.92857 7.5558 10.5179 7.42319C11.1128 7.40217 11.2879 7.39517 12.7854 7.39517L12.8064 7.40918C15.2948 7.40918 17.2472 7.14862 17.3644 9.73743C17.391 10.3281 17.3971 10.5056 17.3971 12.0008C17.3966 14.3085 17.4405 15.2503 16.7461 15.948Z" fill="black"/>
					<path d="M15.7949 9.68424C16.166 9.68424 16.4668 9.38339 16.4668 9.01228C16.4668 8.64117 16.166 8.34033 15.7949 8.34033C15.4238 8.34033 15.1229 8.64117 15.1229 9.01228C15.1229 9.38339 15.4238 9.68424 15.7949 9.68424Z" fill="black"/>
				</svg>
	.footer__lang
		a(href="").footer__lang-item.active Eng
		a(href="").footer__lang-item Ukr
.footer__center
.footer__bottom
	.footer__payments
		.footer__payments-item
			img(src="./assets/images/payments/visa-pay-logo.svg", alt="")
		.footer__payments-item
			img(src="./assets/images/payments/mastercard.svg", alt="")
		.footer__payments-item
			img(src="./assets/images/payments/apple-pay.svg", alt="")
		.footer__payments-item
			img(src="./assets/images/payments/privat.svg", alt="")
	.footer__developer
		a(href='https://smarto.agency/' rel="nofollow" target="_blank").footer__link
			span Delevoped by
			img(src='./assets/images/smarto1.svg' alt="" title="")