.header__in
	.header__left
		.header__logo
			a(href="/" class="logo")
				img(src="./assets/images/logo.svg" alt="")
		.header__menu
			.menu-mob
				.header__close-mob.js-close-menu
					img( src="./assets/images/close-popup.svg")
				.header__logo-mob
					a(href="/" class="logo")
						img(src="./assets/images/logo.svg" alt="")
				ul.menu
					li.menu__item
						a(href="./delivery.html").menu__link Delivery
					li.menu__item
						a(href="./story.html").menu__link Depuis 1889
					li.menu__item
						a(href="./menu.html").menu__link Menu
				.header__icons-mob
					.icons
						a(href="").icons__item
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="12" cy="12.0001" r="10.4" fill="#EFD3AC"/>
								<circle cx="12" cy="12" r="11.6" stroke="#EFD3AC" stroke-width="0.8"/>
								<path d="M13.9046 7.9925H15V6.0845C14.811 6.0585 14.1611 6 13.4041 6C11.8248 6 10.7429 6.9935 10.7429 8.8195V10.5H9V12.633H10.7429V18H12.8797V12.6335H14.552L14.8175 10.5005H12.8792V9.031C12.8797 8.4145 13.0457 7.9925 13.9046 7.9925Z" fill="#131108"/>
							</svg>
						a(href="").icons__item
							<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="12.8" cy="12.0001" r="10.4" fill="#EFD3AC"/>
								<circle cx="12.8" cy="12" r="11.6" stroke="#EFD3AC" stroke-width="0.8"/>
								<path d="M12.8054 9.12573C11.2164 9.12573 9.9299 10.4136 9.9299 12.0013C9.9299 13.5903 11.2178 14.8768 12.8054 14.8768C14.3945 14.8768 15.681 13.5889 15.681 12.0013C15.681 10.4122 14.3931 9.12573 12.8054 9.12573ZM12.8054 13.8677C11.7739 13.8677 10.939 13.0323 10.939 12.0013C10.939 10.9702 11.7744 10.1348 12.8054 10.1348C13.8365 10.1348 14.6719 10.9702 14.6719 12.0013C14.6723 13.0323 13.8369 13.8677 12.8054 13.8677Z" fill="black"/>
								<path d="M15.1141 6.4351C14.0831 6.38701 11.5293 6.38934 10.4973 6.4351C9.59047 6.4776 8.79058 6.6966 8.14571 7.34147C7.06797 8.41921 7.20572 9.87145 7.20572 12.0012C7.20572 14.181 7.08431 15.5996 8.14571 16.661C9.22765 17.7425 10.7009 17.601 12.8055 17.601C14.9647 17.601 15.71 17.6024 16.4734 17.3068C17.5115 16.9038 18.295 15.976 18.3716 14.3094C18.4202 13.2779 18.4174 10.7246 18.3716 9.6926C18.2792 7.72531 17.2234 6.53223 15.1141 6.4351ZM16.7461 15.948C16.0396 16.6545 15.0595 16.5914 12.7919 16.5914C10.4571 16.5914 9.5209 16.626 8.83774 15.941C8.05092 15.1579 8.19334 13.9004 8.19334 11.9938C8.19334 9.41383 7.92857 7.5558 10.5179 7.42319C11.1128 7.40217 11.2879 7.39517 12.7854 7.39517L12.8064 7.40918C15.2948 7.40918 17.2472 7.14862 17.3644 9.73743C17.391 10.3281 17.3971 10.5056 17.3971 12.0008C17.3966 14.3085 17.4405 15.2503 16.7461 15.948Z" fill="black"/>
								<path d="M15.7949 9.68424C16.166 9.68424 16.4668 9.38339 16.4668 9.01228C16.4668 8.64117 16.166 8.34033 15.7949 8.34033C15.4238 8.34033 15.1229 8.64117 15.1229 9.01228C15.1229 9.38339 15.4238 9.68424 15.7949 9.68424Z" fill="black"/>
							</svg>
				.header__location-mob
					.location
						.location__icon
							<svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.875 2.0625C8.69836 2.0625 10.447 2.79769 11.7364 4.10635C13.0257 5.415 13.75 7.18991 13.75 9.04062C13.75 14.2742 6.875 22 6.875 22C6.875 22 0 14.2742 0 9.04062C0 7.18991 0.724328 5.415 2.01364 4.10635C3.30295 2.79769 5.05164 2.0625 6.875 2.0625Z" fill="#131108"/>
								<circle cx="6.875" cy="8.9375" r="5.67188" stroke="#92897D" stroke-width="0.34375"/>
								<path d="M4.63904 11.8412L5.33479 11.7277V6.22225L4.63904 6.11637V5.95H7.01367C7.75983 5.95 8.31442 6.10881 8.67742 6.42644C9.04042 6.74406 9.22192 7.20285 9.22192 7.80281C9.22192 8.40277 9.04042 8.86156 8.67742 9.17919C8.31442 9.49681 7.75983 9.65562 7.01367 9.65562H6.16667V11.7277L6.86242 11.8412V12H4.63904V11.8412ZM6.90779 9.47412C7.8405 9.47412 8.30685 8.96744 8.30685 7.95406V7.65156C8.30685 6.64323 7.8405 6.13906 6.90779 6.13906H6.16667V9.47412H6.90779Z" fill="#EFD3AC"/>
							</svg>
						.location__text Find a PAUL
				.header__btn-mob
					a(href="#call-form-popup" data-effect="mfp-move-horizontal").link-dark.js-call-form-popup Reserve
	.header__right
		.header__location
			a(href="./maps.html").location
				.location__icon
					<svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.875 2.0625C8.69836 2.0625 10.447 2.79769 11.7364 4.10635C13.0257 5.415 13.75 7.18991 13.75 9.04062C13.75 14.2742 6.875 22 6.875 22C6.875 22 0 14.2742 0 9.04062C0 7.18991 0.724328 5.415 2.01364 4.10635C3.30295 2.79769 5.05164 2.0625 6.875 2.0625Z" fill="#131108"/>
						<circle cx="6.875" cy="8.9375" r="5.67188" stroke="#92897D" stroke-width="0.34375"/>
						<path d="M4.63904 11.8412L5.33479 11.7277V6.22225L4.63904 6.11637V5.95H7.01367C7.75983 5.95 8.31442 6.10881 8.67742 6.42644C9.04042 6.74406 9.22192 7.20285 9.22192 7.80281C9.22192 8.40277 9.04042 8.86156 8.67742 9.17919C8.31442 9.49681 7.75983 9.65562 7.01367 9.65562H6.16667V11.7277L6.86242 11.8412V12H4.63904V11.8412ZM6.90779 9.47412C7.8405 9.47412 8.30685 8.96744 8.30685 7.95406V7.65156C8.30685 6.64323 7.8405 6.13906 6.90779 6.13906H6.16667V9.47412H6.90779Z" fill="#EFD3AC"/>
					</svg>
				.location__text Find a PAUL
		.header__icons
			.icons
				a(href="").icons__item
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12.0001" r="10.4" fill="#EFD3AC"/>
						<circle cx="12" cy="12" r="11.6" stroke="#EFD3AC" stroke-width="0.8"/>
						<path d="M13.9046 7.9925H15V6.0845C14.811 6.0585 14.1611 6 13.4041 6C11.8248 6 10.7429 6.9935 10.7429 8.8195V10.5H9V12.633H10.7429V18H12.8797V12.6335H14.552L14.8175 10.5005H12.8792V9.031C12.8797 8.4145 13.0457 7.9925 13.9046 7.9925Z" fill="#131108"/>
					</svg>
				a(href="").icons__item
					<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12.8" cy="12.0001" r="10.4" fill="#EFD3AC"/>
						<circle cx="12.8" cy="12" r="11.6" stroke="#EFD3AC" stroke-width="0.8"/>
						<path d="M12.8054 9.12573C11.2164 9.12573 9.9299 10.4136 9.9299 12.0013C9.9299 13.5903 11.2178 14.8768 12.8054 14.8768C14.3945 14.8768 15.681 13.5889 15.681 12.0013C15.681 10.4122 14.3931 9.12573 12.8054 9.12573ZM12.8054 13.8677C11.7739 13.8677 10.939 13.0323 10.939 12.0013C10.939 10.9702 11.7744 10.1348 12.8054 10.1348C13.8365 10.1348 14.6719 10.9702 14.6719 12.0013C14.6723 13.0323 13.8369 13.8677 12.8054 13.8677Z" fill="black"/>
						<path d="M15.1141 6.4351C14.0831 6.38701 11.5293 6.38934 10.4973 6.4351C9.59047 6.4776 8.79058 6.6966 8.14571 7.34147C7.06797 8.41921 7.20572 9.87145 7.20572 12.0012C7.20572 14.181 7.08431 15.5996 8.14571 16.661C9.22765 17.7425 10.7009 17.601 12.8055 17.601C14.9647 17.601 15.71 17.6024 16.4734 17.3068C17.5115 16.9038 18.295 15.976 18.3716 14.3094C18.4202 13.2779 18.4174 10.7246 18.3716 9.6926C18.2792 7.72531 17.2234 6.53223 15.1141 6.4351ZM16.7461 15.948C16.0396 16.6545 15.0595 16.5914 12.7919 16.5914C10.4571 16.5914 9.5209 16.626 8.83774 15.941C8.05092 15.1579 8.19334 13.9004 8.19334 11.9938C8.19334 9.41383 7.92857 7.5558 10.5179 7.42319C11.1128 7.40217 11.2879 7.39517 12.7854 7.39517L12.8064 7.40918C15.2948 7.40918 17.2472 7.14862 17.3644 9.73743C17.391 10.3281 17.3971 10.5056 17.3971 12.0008C17.3966 14.3085 17.4405 15.2503 16.7461 15.948Z" fill="black"/>
						<path d="M15.7949 9.68424C16.166 9.68424 16.4668 9.38339 16.4668 9.01228C16.4668 8.64117 16.166 8.34033 15.7949 8.34033C15.4238 8.34033 15.1229 8.64117 15.1229 9.01228C15.1229 9.38339 15.4238 9.68424 15.7949 9.68424Z" fill="black"/>
					</svg>
		.header__btn
			a(href="#call-form-popup" data-effect="mfp-move-horizontal").btn-transparent.js-call-form-popup Reserve
		.header__basket
			.basket.js-basket
				span.basket__current 0
				<svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M37.3773 15.2476C39.4714 36.0653 27.3433 37.8001 21.6719 38.2338C12.5105 38.2338 6.40283 33.463 4.65777 31.2945C-7.91712 15.6682 8.80878 5.16757 10.1176 4.73387C11.4263 4.30017 34.7598 -10.7746 37.3773 15.2476Z" fill="#131108"/>
					<path d="M23.4545 13.1854V11.3026C23.4296 10.1531 22.9494 9.05894 22.1167 8.25467C21.284 7.4504 20.1652 7 19 7C17.8348 7 16.716 7.4504 15.8833 8.25467C15.0506 9.05894 14.5704 10.1531 14.5455 11.3026V13.1874H12.8899L12 27H26L25.1081 13.1854H23.4545ZM22.1818 13.1854H15.8182V11.3026C15.8392 10.4836 16.1836 9.70519 16.778 9.1333C17.3725 8.56141 18.1698 8.24132 19 8.24132C19.8302 8.24132 20.6275 8.56141 21.222 9.1333C21.8164 9.70519 22.1608 10.4836 22.1818 11.3026V13.1854Z" fill="#EFD3AC"/>
				</svg>
			//add minicard
		.header__btn-menu.btn-menu.js-btn-menu
			.btn-menu__line
			.btn-menu__line
			.btn-menu__line
	.minicard
		.minicard__content
			.minicard__top
				.minicard__title
					span.minicard__title-big Shopping Basket
				.minicard__close.js-minicard-close
					img(src="./assets/images/close-popup.svg")
			.minicard__center
				.minicard__list.js-basket__list
			.subtotal
				.subtotal__name Subtotal:
				.subtotal__sum
					span.js-subtotal__sum 0
					| UAH
			form.minicard__form(id='payProduct')
				label.minicard__username.minicard__label
					span Name and surname:
					input(type='text' name="name" required).minicard__input.js-form__input
				label.minicard__phone.minicard__label
					span Phone number:
					input(type='text' name="phone" required).minicard__input.js-form__input.inputTelMask
				label.minicard__mail.minicard__label
					span E-mail:
					input(type='mail' name="mail" required).minicard__input.js-form__input
				label.minicard__date.minicard__label
					span Collection Date:
					input(type='text' name="date" required).minicard__input.js-minicard__date.js-form__input
				label.minicard__date.minicard__label
					span Collection Time:
					select(name="time").minicard__input.js-minicard__time.js-form__input
						option(value=11) 11:00 - 12:00
						option(value=12) 12:00 - 13:00
						option(value=13) 13:00 - 14:00
				fieldset.minicard__delivery.minicard__label
					span Delivery:
					input(type='radio' name='delivery' id="delivery-1" value="sm1" checked).minicard__input.js-minicard__delivery.js-form__input
					label(for='delivery-1')
						span Pickup Gorodetskogo, 6
					input(type='radio' name='delivery' id="delivery-2" value="sm2").minicard__input.js-minicard__delivery.js-form__input
					label(for='delivery-2')
						span Pickup Yaroslavov Val, 26
					input(type='radio' name='delivery' id="delivery-3" value="devRight" data-value=80 ).minicard__input.js-minicard__delivery.js-form__input
					label(for='delivery-3')
						span Courier Right Bank (delivery 80 UAH)
					input(type='radio' name='delivery' id="delivery-4" value="devLeft" data-value=150 ).minicard__input.js-minicard__delivery.js-form__input
					label(for='delivery-4')
						span Courier Left Bank (delivery 150 UAH)
				fieldset.minicard__payment.minicard__label
					span Payment:
					input(type='radio' name='payment' value='cash' id="pay-1" checked).minicard__input.js-form__input
					label(for='pay-1')
						span Cash
					input(type='radio' name='payment' id="pay-2" value='card').minicard__input.js-form__input
					label(for='pay-2')
						span Visa / Mastercard payment (liqpay)
				input(type="text" name="products" class="is-hidden js-products__input")


			.minicard__price
				.minicard__price--subtotal Subtotal:
					span.js-minicard__price--subtotal(data-value=0) 0
					| UAH
				.minicard__price--delivery Delivery Cost:
					span.js-minicard__price--delivery(data-value=0) 0
					| UAH
			.minicard__bottom
				.total
					.total__name Total:
					.total__sum
						span.js-total__sum(data-value=0) 0
						| ₴
				.minicard__links
					button(form='payProduct').link-dark.js-minicard__pay PROCEED TO PAYMENT






//- .container
	//- .row
	//- 	a(href="/" class="logo")
	//- 		img(src="./assets/images/logo.png" alt="" title="")
	//- 	.header-wrapper
	//- 		ul.lang-list
	//- 			li.lang-list__item 
	//- 				span Ru
	//- 			li.lang-list__item.active
	//- 				span Uk
	//- 		button(type="button").header__button-menu.menu-button.js-header-menu
	//- 			span.menu-button__text Menu

