div(class="call-form-popup mfp-with-anim mfp-hide js-open-form-popup" id="call-form-popup")
	div(class="call-form-popup__in")
		.form-wrap
			button(type="button" class="form-close js-close-btn")
				//- +svg('close-popup')
				img( src="./assets/images/close-popup.svg")
			.form-wrap__left
				.form-wrap__title.fadeInLeft Reserve
				//- p.form-popup__descr Наши менеджеры перезвонят вам в кротчайшие сроки
				form.main-form.call-form
					.amount-group
						.choose-name Number of guests:
						.choose.js-choose
							button.choose__minus.js-choose__change(type="button" data-change="-1") -
							input(type="number" min="1" max="15" step="1" value='1' ).js-form__input.choose__input.js-choose-num
							button.choose__plus.js-choose__change(type="button" data-change="1" ) +
					.main-form__row
						.main-form__market
							.main-form__name Restaurant
							select(class="main-form__market-select js-form__input js-form__market" name='market')
								option(value="market1" ) Ул. Городецкого, 6
								option(value="market2" selected) Ул. Ярославов Вал, 26
					.main-form__row
						.main-form__date
							.main-form__name Date:
							.main-form-block.main-form-block-date
								input(type="text" name='date' data-errormessage='дата не коректна').js-form__input.main-form__input.js-popup__date
								span.js-result-text.error-result-text
								//span.main-form__icon
								//	+svg('calendar')
								//span(data-type="name" data-defaultMessage="Ваше ім’я:**" data-errorMessage="Ім’я:* не заповнено:").main-form-content
								//- 	span.main-form__text Ім’я:*
						.main-form__time
							.main-form__name Time:
							.radio-group
								//- input(class="checkedtimeRadio" type="radio" name="checkedtime")
								//- label(for="radio") Вказати зручний час
								select(class="checkedtime js-form__input js-form__time" name='time')
									option(value="9-00") 9:00
									option(value="10-00") 10:00
									option(value="11-00") 11:00
									option(value="12-00") 12:00
									option(value="13-00") 13:00
									option(value="14-00") 14:00
									option(value="15-00") 15:00
									option(value="16-00") 16:00
									option(value="17-00") 17:00
									option(value="18-00" selected) 18:00
					.main-form__name Name and surname:*
					.main-form-block
						input(name="name" type="text" data-type='name' required data-errormessage='введите имя').js-form__input.main-form__input
						span.js-result-text.error-result-text
						//- span(data-type="name" data-defaultMessage="Ваше ім’я:**" data-errorMessage="Ім’я:* не заповнено:").main-form-content
						//- 	span.main-form__text Ім’я:*
					.main-form__name Phone number:*
					.main-form-block
						input(name="phone" type="text" data-type='phone' required placeholder='+38 0' data-errormessage='введите номер').js-form__input.main-form__input.inputTelMask
						span.js-result-text.error-result-text
						//- span(data-type="tel" data-defaultMessage="Ваш телефон*" data-errorMessage="Телефон:* не заповнений:").main-form-content
						//- 	span.main-form__text Телефон*
					.main-form__name E-mail:*
					.main-form-block
						input(name="mail" type="text"  data-type='mail' required data-errormessage='E-mail введён не правильно').js-form__input.main-form__input.main-form__input-requaired
						span.js-result-text.error-result-text

					button.call-form__button.read-more-block.link-dark.link-dark_italic.js-call-form Send
			.form-wrap__right
				img(src="./assets/images/reserve/bg.png", alt="")