extends ../layout/main
block variable
    -
        var crumbs = [
        {
        title: 'Home',
        link: pagesLink[0].home
        }
        ];
block meta
    title= 'Home'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(src='./assets/scripts/basketElem.js')
    script(src='./assets/scripts/basket.js')
    script(src='./assets/scripts/index.js')
    script(src='./assets/scripts/product.js')
block content
    include ../includes/crumbs.pug
    .dt-product.js-product__item(data-type='Breakfast' data-id=1)
        .dt-product__images
            .dt-product__img
                img(src='./assets/images/product/semi_naked_vanilla_cake.jpg')
            .dt-product__img
                img(src='./assets/images/product/semi_naked_vanilla_cake_1.jpg')
        .dt-product__content
            .dt-product__top
                .dt-product__title Summer Berry Layer Cake
                .dt-product__price 59 UAH
            //.dt-product__code SKU: 1670
            .dt-product__description NEW: Our nearly naked cake has three layers of vanilla sponge sandwiched with vanilla butter cream, topped with more butter cream and fresh strawberri. Our nearly naked cake has three layers of vanilla sponge sandwiched with vanilla butter cream, topped with more butter cream and fresh strawberri.
            .dt-product__buttons
                .dt-quantity.js-dt-quantity
                    div.dt-quantity__wrap
                        .dt-quantity__name Quantity
                    div.dt-quantity__wrap
                        .dt-quantity__change(data-change=-1) -
                        input(type='number' min=1 max=100 step=1 value=1 data-id=1).dt-quantity__num.js-dt-quantity__num
                        .dt-quantity__change(data-change=1) +
                .dt-product__add.js-add__basket.link-dark ADD TO BASKET
            .dt-dropdown__wrap

                .dt-dropdown.js-dt-dropdown
                    .dt-dropdown__top
                        .dt-dropdown__title Description
                        .dt-dropdown__arrow
                            svg( width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect( y="0.707031" width="1" height="6" transform="rotate(-45 0 0.707031)")
                                rect( x="7.77832" width="1" height="6" transform="rotate(45 7.77832 0)")

                    .dt-dropdown__content NEW: Our nearly naked cake has three layers of vanilla sponge sandwiched with vanilla butter cream and fresh fruits, topped with more butter cream and fresh strawberries, raspberries, blackberries and blueberries. Serves 8-10


                .dt-dropdown.js-dt-dropdown
                    .dt-dropdown__top
                        .dt-dropdown__title Nutritional
                        .dt-dropdown__arrow
                            svg( width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect( y="0.707031" width="1" height="6" transform="rotate(-45 0 0.707031)")
                                rect( x="7.77832" width="1" height="6" transform="rotate(45 7.77832 0)")

                    .dt-dropdown__content NEW: Our nearly naked cake has three layers of vanilla sponge sandwiched with vanilla butter cream and fresh fruits, topped with more butter cream and fresh strawberries, raspberries, blackberries and blueberries. Serves 8-10


                .dt-dropdown.js-dt-dropdown
                    .dt-dropdown__top
                        .dt-dropdown__title Allergens Present
                        .dt-dropdown__arrow
                            svg( width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect( y="0.707031" width="1" height="6" transform="rotate(-45 0 0.707031)")
                                rect( x="7.77832" width="1" height="6" transform="rotate(45 7.77832 0)")

                    .dt-dropdown__content NEW: Our nearly naked cake has three layers of vanilla sponge sandwiched with vanilla butter cream and fresh fruits, topped with more butter cream and fresh strawberries, raspberries, blackberries and blueberries. Serves 8-10


                //.dt-dropdown.js-dt-dropdown
                //    .dt-dropdown__top
                //        .dt-dropdown__title Delivery Informations
                //        .dt-dropdown__arrow
                //            svg( width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                //                rect( y="0.707031" width="1" height="6" transform="rotate(-45 0 0.707031)")
                //                rect( x="7.77832" width="1" height="6" transform="rotate(45 7.77832 0)")
                //
                //    .dt-dropdown__content NEW: Our nearly naked cake has three layers of vanilla sponge sandwiched with vanilla butter cream and fresh fruits, topped with more butter cream and fresh strawberries, raspberries, blackberries and blueberries. Serves 8-10
    .dt-accord-content


block footer
    footer.footer
        include ../includes/footer.pug

block header
    header.header
        include ../includes/header.pug
