$default-font: "sabon",
sans-serif;
$default-font2: "jost",
sans-serif;
$default-font3: "jostMedium",
sans-serif;
$mc: #34B9E0;
$mc2: #FF554C;
// $mc3: #E5DF06;
// $mc4: #4F90B6;
// $gray:rgb(135, 135, 151);
// $text: #22223E;
$wc: #fff;
// $bc: #000;
// $bc2: #000;

//my vars
$darkBlack: #131108;
$black: #000000;
$white: #ffffff;
$apricot: #FEEED8;
$text: #535451;
$gold: #EFD3AC;
$gray: #92897D;
$darkGray: #4E4D4D;
$cream: #FFFCF8;
$lightGray: #E2E2E2;
$blue: #86C2EB;
$lightBlue: #D7EEE0;