.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: #FFFCF8;
	box-shadow: 0px 4px 20px rgba(19, 17, 8, 0.1);
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 5px;
		bottom: 0;
		left: 0;
		right: 0;
		background: url(../images/line-header.png) repeat-x;
	}
	&__in {
		max-width: 1200px;
		padding: 25px 45px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		@include to(1200px) {
			padding: 25px 20px;
		}
		@include to(767px) {
			padding: 15px 20px;
		}
	}
	&__left {
		display: flex;
	}
	&__right {
		display: flex;
		align-items: center;
	}
	&__logo {
		margin-right: 35px;
		@include to(1200px) {
			margin-right: 17px;
		}
	}
	.logo {
		max-width: 113px;
		display: block;
		@include to(1200px) {
			max-width: 98px;
		}
		@include to(767px) {
			max-width: 82px;
		}
		img {
			display: block;
			max-width: 100%;
		}
	}
	&__location {
		@include to(767px) {
			display: none;
		}
	}
	&__icons {
		margin: 0 40px;
		@include to(1200px) {
			display: none;
		}
	}
	&__basket {
		margin-left: 35px;
		@include to(1200px) {
			margin-left: 25px;
		}
	}
	&__btn {
		width: 132px;
		// width: 100%;
		@include to(1200px) {
			width: 100px;
			margin-left: 25px;
		}
		@include to(767px) {
			display: none;
		}
	}
	&__menu {
		@include to(767px) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 10;
			background: #ffffff;
			transform: translateX(-100%);
			transition: transform 0.5s;
			&.open {
				transform: translateX(0);
			}
		}
	}
	&__logo-mob {
		display: none;
		@include to(767px) {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}
	}
	&__icons-mob {
		display: none;
		@include to(767px) {
			display: block;
			margin-top: 42px;
			margin-bottom: 20px;
		}
	}
	&__location-mob {
		display: none;
		@include to(767px) {
			display: block;
			max-width: 206px;
			margin: 0 auto 20px;
		}
	}
	&__btn-mob {
		display: none;
		@include to(767px) {
			display: block;
			max-width: 206px;
			margin: 0 auto;
		}
	}
	&__close-mob {
		display: none;
		@include to(767px) {
			display: block;
			position: absolute;
			top: 20px;
			right: 15px;
			width: 28px;
			height: 28px;
		}
	}
	&__btn-menu {
		display: none;
		@include to(767px) {
			display: block;
			margin-left: 15px;
		}
	}
}

.menu {
	display: flex;
	align-items: center;
	@include to(767px) {
		display: block;
	}
	.menu__item:last-child .menu__link {
		@include to(767px) {
			border-bottom: 1px solid rgba(229, 227, 223, 0.5);
		}
	}
	.menu__link {
		display: block;
		color: $darkBlack;
		font-size: 15px;
		text-decoration: none;
		padding: 5px 12px;
		transition:  all 0.25s ease-in-out;
		&:hover {
			color: $gold;
		    transform: translateX(8px);
		    transition: all 0.3s ease-in-out;
	}
		@include to(1200px) {
			font-size: 13px;
			padding: 5px 9px; 
		}
		@include to(767px) {
			font-size: 16px;
			padding: 10px 0px;
			border-top: 1px solid rgba(229, 227, 223, 0.5);
		}
	}
}

.basket {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: $black;
	cursor: pointer;
	&__current {
		position: absolute;
	    line-height: 2.4;
	    left: 50%;
	    top: 20px;
	    transform: translate(-50%, -50%);
	    font-size: 10px;
	    font-family: $default-font2;
	}
	svg {
		display: block;
	}
}

.location {
	display: flex;
	align-items: center;
	text-decoration: none;
	@include to(767px) {
		border: 2px solid $gold;
		justify-content: center;
		padding: 9px;
	}
	&__icon {
		margin-right: 10px;
		@include to(1200px) {
			margin-right: 6px;
		}
	}
	&__text {
		font-size: 15px;
		color: $darkBlack;
		@include to(1200px) {
			font-size: 13px;
		}
		@include to(767px) {
			font-size: 16px;
		}
	}
}

.icons {
	display: flex;
	@include to(767px) {
		justify-content: center;
	}
	&__item:not(:last-child) {
		margin-right: 12px;
	}
}

.menu-mob {
	@include to(767px) {
		// max-width: 280px;
		max-width: 80%;
		margin: 0 auto;
		padding: 62px 0;
	}
}


.btn-menu {
	&__line {
		width: 20px;
		height: 2px;
		background: $darkBlack;
	}
	&__line:first-child {
		margin-bottom: 5px;
	}
	&__line:nth-child(2) {
		margin-bottom: 5px;
	}
	&__line:nth-child(3) {
		margin-bottom: 5px;
	}
}













































// .btn-res{
// 	background: transparent;
// 	border: none;
// }

// .menu-main-list{
// 	display: flex;
// 	align-items: center;
// 	flex-direction: column;
// 	&__link{
// 		opacity: 0;
// 		display: block;
// 		font-size: 4vw;
// 		line-height: 2em;
// 		color: $mc;
// 		transition: all 0.3s;
// 		&:hover{
// 			color: $text;
// 				&::after{
// 					height: 4px;
// 			}
// 		}
// 	}
// }

